.news {
  max-width: 1000px;
  margin: 20px auto;
  box-sizing: border-box;
  border: 2px solid #bcc1c4;
  padding: 10px 10px 1px 10px;
  border-radius: 5px;
  text-decoration: none;

  &__item {
    margin-bottom: 10px;
  }

  &__title {
    font-weight: bold;
    margin-right: 10px;
  }
}